<a href="https://colab.research.google.com/github/sadiahuq26/cse303_sec3_spring22/blob/main/2019_1_60_034_lab1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print ("This line will be printed.")

This line will be printed.

In [ ]:
name = "John"

In [ ]:
age = 23

In [ ]:
print ("%s is %d years old." % (name, age))

John is 23 years old.

In [ ]:
name = input("Enter your name: ")

Enter your name: Sadia

In [ ]:
age = int(input("Enter your age: "))

Enter your age: 23

In [ ]:
print(f'{name} is {age} years old')

Sadia is 23 years old

In [ ]:
x = 5
print (x)
print (type(x))

5
<class 'int'>

In [ ]:
x = "hello"
print (x)
print (type(x))

hello
<class 'str'>

In [ ]:
import math
print(format(math.pi, '.12g'))
print(format(math.pi, '0.6f'))

3.14159265359
3.141593

In [ ]:
2**52 <= 2**56 // 10 < 2**53

True

In [ ]:
x = 4
if x < 1:
  score = "low"
elif x <= 4: # elif = else if
  score = "medium"
else:
  score = "high"
print (score)

medium

In [ ]:
x = True
if x:
  print ("it worked")

it worked

In [ ]:
veggies = ["carrots", "broccoli", "beans"]
for veggie in veggies:
      print (veggie)

carrots
broccoli
beans

In [ ]:
veggies = ["carrots", "broccoli", "beans"]
for veggie in veggies:
      if veggie == "broccoli":
            break
print(veggie)

broccoli

In [ ]:
veggies = ["carrots", "broccoli", "beans"]
for veggie in veggies:
      if veggie == "broccoli":
            continue
print(veggie)

beans

In [ ]:
x = [3, "hello", 1.2]
print (x)

[3, 'hello', 1.2]

In [ ]:
x = (3.0, "hello")
()
print (x)

(3.0, 'hello')

In [ ]:
text = "SDS IN PYTHON"
print (set(text))
print (set(text.split(" ")))

{'T', 'P', 'S', ' ', 'D', 'I', 'H', 'N', 'Y', 'O'}
{'IN', 'SDS', 'PYTHON'}

In [ ]:
lst = [x for x in 'word']
lst

['w', 'o', 'r', 'd']

In [ ]:
lst = [x for x in range(11) if x % 2 == 0]
lst

[0, 2, 4, 6, 8, 10]

In [ ]:
celsius = [0,10,20.1,34.5]
fahrenheit = [ ((float(9)/5)*temp + 32) for temp in celsius ]
fahrenheit

[32.0, 50.0, 68.18, 94.1]

In [ ]:
lst = [ x**2 for x in [x**2 for x in range(11)]]
lst

[0, 1, 16, 81, 256, 625, 1296, 2401, 4096, 6561, 10000]

In [ ]:
phonebook = { "John" : 938477566, "Jack" : 938377264, "Jill" : 947662781 }
print(phonebook)

{'John': 938477566, 'Jack': 938377264, 'Jill': 947662781}

In [ ]:
for name, number in phonebook.items():
      print("Phone number of %s is %d" % (name, number))

Phone number of John is 938477566
Phone number of Jack is 938377264
Phone number of Jill is 947662781

In [ ]:
def add_two(x):
    """Increase x by 2."""
    x += 2
    return x
add_two(5)

7

In [ ]:
def f(*args, **kwargs):
    x = args[0]
    y = kwargs.get("y")
    print (f"x: {x}, y: {y}")
f(5, y=2)

x: 5, y: 2

In [ ]:
x = [3, "hello", 1.2]
print ("x[0]: ", x[0])
print ("x[1]: ", x[1])
print ("x[-1]: ", x[-1])
print ("x[-2]: ", x[-2])

x[0]:  3
x[1]:  hello
x[-1]:  1.2
x[-2]:  hello

In [ ]:
print (x[:100])
print (len(x[:100]))

[3, 'hello', 1.2]
3

In [ ]:
print ("x[:]: ", x[:])
print ("x[1:]: ", x[1:])
print ("x[1:2]: ", x[1:2])
print ("x[:-1]: ", x[:-1])

x[:]:  [3, 'hello', 1.2]
x[1:]:  ['hello', 1.2]
x[1:2]:  ['hello']
x[:-1]:  [3, 'hello']